<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | Recall' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Hatırlatıcı</a></h1>
      <h2>Hatırlamayacak kadar meşgul olduğun için</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
</body>
</html>